
p{

 color:darkred;
 font-size:2em;                   
                                                             
  
}  


.dados{
    
    
    color:crimson;
    
    
    
}



    
    .dados{
        
      font-family:inherit;  
        
        
}  
    
    
.tempo{
    
    
    font-family: fantasy;
    
}

